<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href='../css/style.css'>
    <title>About</title>
</head>

<body>

        <div class="main-content">
            {{>header}}
            {{!-- <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate placeat blanditiis unde ad tenetur iste at
                veritatis excepturi aliquid autem, facilis ullam praesentium corrupti! Iure a recusandae natus expedita illo.
            </p> --}}
            <p>
                This webiste was created by Manjunatha Patkar. It uses data from AccuWeather
                and Mapbox API's. 

            </p>
            <img class="portrait" src="./img/ManjunathaPatkar.jpg"><br><br>
            <a href="https://github.com/ManjunathaPatkar/Weather-APP" style="color: brown;">Github code link </a>
        </div>
        

 
    {{>footer}}
</body>
    
</html>